# mac attribute folders
**/.DS_Store

# test coverage produced by Istanbul (Jest)
/coverage

# distribution directory for libs and types
/dist

# the lib files to be published
/lib

# node modules
/node_modules

# the typescript type declarations
/types

# Used for testing the output
/temp